{% extends 'MainBundle::layout.html.twig' %}

{% block content %}
<div class="block block-showcase">
    <h2 class="layout-title">{{ 'registration.title.register'|trans }}</h2>
</div>

<hr class="layout-color-separator">

<div class="block block-showcase">
    <form action="{{ path("fos_user_registration_register") }}" method="POST" class="form form-user-administration">
        <div class="form-user-administration-content">
            {{ form_widget(form) }}
        </div>

        <div class="form-user-administration-actions">
            <button class="btn form-user-administration-actions-submit" type="submit" data-tid="loading-button" data-loading-text="{{ 'layout.messages.loading'|trans }}" autocomplete="off">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</button>
            {{ 'registration.info.have_account'|trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        </div>
    </form>
</div>
{% endblock %}
