{% extends 'MainBundle::layout.html.twig' %}

{% block content %}
<div class="block block-showcase">
    <h2 class="layout-title">{{ 'security.title.log_in'|trans }}</h2>
</div>

<hr class="layout-color-separator">

<div class="block block-showcase">
    <form action="{{ path("fos_user_security_check") }}" method="POST" class="form form-user-administration">
        <div class="form-user-administration-content">
            {% if error %}
                <div class="form-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="control-group">
                <label class="control-label" for="username">{{ 'security.label.email'|trans }}</label>
                <div class="controls">
                    {% spaceless %}
                        <input type="text" placeholder="{{ 'security.placeholder.enter_email'|trans }}" id="username" name="_username" value="{{ last_username }}" class="span5" />
                    {% endspaceless %}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password">{{ 'security.label.password'|trans }}</label>
                <div class="controls">
                    {% spaceless %}
                        <input type="password" placeholder="{{ 'security.placeholder.enter_password'|trans }}" id="password" name="_password" class="span5" />
                    {% endspaceless %}
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    {% spaceless %}
                        <label for="remember_me" class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on" />
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </label>
                    {% endspaceless %}
                </div>
            </div>
        </div>

        <div class="form-user-administration-actions">
            <button class="btn form-user-administration-actions-submit" type="submit" data-tid="loading-button" data-loading-text="{{ 'layout.messages.loading'|trans }}" autocomplete="off">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
            <a href="{{ path('fos_user_registration_register') }}">{{ 'security.info.not_register'|trans }} </a>
            -
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.info.forgot_password'|trans }}</a>
        </div>
    </form>
</div>
{% endblock %}
