{% extends '::base.html.twig' %}

{% block stylesheets %}
{# TODO move it to Assetic, but without applying lessphp ? #}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/vendor/css/chosen/chosen.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/frontend/vendor/css/humane/jackedup.css') }}" media="screen" />
{% if app.debug %}
    <link rel="stylesheet/less" href="{{ asset('bundles/frontend/less/main.less') }}" type="text/css" />

    <script type="text/javascript" src="{{ asset('bundles/frontend/vendor/js/less-1.3.0.min.js') }}"></script>
{% else %}
    {% stylesheets 'bundles/frontend/less/main_php.less' filter='lessphp,cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endif %}
{% endblock %}

{% block head_javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/frontend/vendor/js/spin.min.js') }}"></script>
{% endblock %}

{% block body %}
    <header id="header"></header>
    <div id="container" class="container">
        <div class="container-row-header"></div>
        <div class="container-row">
            <aside id="sidebar"></aside>
            <section id="main"></section>
        </div>
    </div>
    <div class="modal hide fade" id="modal"></div>
{% endblock %}

{% block javascripts %}
<script>
    var spinner = new Spinner().spin(document.body);
</script>
<script src="{{ asset('bundles/frontend/vendor/js/require.js') }}"></script>
<script>
    (function () {
        "use strict";
        var vendorDir = '../vendor/js/';
        require.config({
            urlArgs: '{{ assets_version()|e('js') }}',
            baseUrl: '{{ (app.request.basePath ~ '/bundles/frontend/js/')|e('js') }}',
            paths: {
                html5slider: vendorDir + 'html5slider',
                placeholder: vendorDir + 'Placeholders.min',
                jquery: vendorDir + 'jquery-1.8.0.min',
                jqueryAutosize: vendorDir + 'jquery.autosize',
                jqueryCookie: vendorDir + 'jquery.cookie',
                underscore: vendorDir + 'underscore-min',
                backbone: vendorDir + 'backbone-min',
                marionette: vendorDir + 'backbone.marionette.min',
                syphon: vendorDir + 'backbone.syphon.min',
                relationalModel: vendorDir + 'backbone-relational',
                handlebars: vendorDir + 'handlebars-1.0.0.beta.6',
                bootstrapDropdown: vendorDir + 'bootstrap-dropdown',
                bootstrapModal: vendorDir + 'bootstrap-modal',
                bootstrapButton: vendorDir + 'bootstrap-button',
                bootstrapTransition: vendorDir + 'bootstrap-transition',
                bootstrapTooltip: vendorDir + 'bootstrap-tooltip',
                bootstrapPopover: vendorDir + 'bootstrap-popover',
                bootstrapTour: vendorDir + 'bootstrap-tour',
                chosen: vendorDir + 'chosen.jquery.min',
                text: vendorDir + 'text',
                json: vendorDir + 'json',
                moment: vendorDir + 'moment.min',
                momentFr:  vendorDir + 'moment_fr',
                humane: vendorDir + 'humane.min',
                tpl: 'utils/handlebars_templates',
                bazinga_translator: '../../bazingaexposetranslation/js/translation',
                {# noext=1 is here to avoid the extra .js in the url -#}
                bazinga_translator_data: '{{ path('bazinga_exposetranslation_js', {'_locale': app.request.locale|slice(0, 2), 'noext': 1}) }}',
                fos_routing: '../../fosjsrouting/js/router',
                {# noext=1 is here to avoid the extra .js in the url -#}
                fos_routing_data: '{{ path('fos_js_routing_js', {'_format': 'json', 'noext': 1}) }}'
            },
            shim: {
                placeholder: {
                    exports: 'Placeholders'
                },
                underscore: {
                    exports: '_'
                },
                backbone: {
                    deps: ['underscore', 'jquery'],
                    exports: 'Backbone'
                },
                handlebars: {
                    exports: 'Handlebars'
                },
                bootstrapDropdown: {
                    deps: ['jquery']
                },
                bootstrapModal: {
                    deps: ['jquery']
                },
                bootstrapButton: {
                    deps: ['jquery']
                },
                bootstrapTransition: {
                    deps: ['jquery']
                },
                chosen: {
                    deps: ['jquery']
                },
                jqueryAutosize: {
                    deps: ['jquery']
                },
                bootstrapPopover: {
                    deps: ['bootstrapTooltip']
                },
                bootstrapTooltip: {
                    deps: ['jquery']
                },
                jqueryCookie: {
                    deps: ['jquery']
                },
                bootstrapTour: {
                    deps: ['bootstrapTooltip', 'bootstrapPopover', 'jqueryCookie']
                },
                bazinga_translator: {
                    exports: 'ExposeTranslation'
                },
                bazinga_translator_data: {
                    deps: ['bazinga_translator']
                },
                fos_routing: {
                    exports: 'Routing'
                },
                fos_routing_data: {
                    deps: ['fos_routing']
                },
                syphon: {
                    deps: ['backbone'],
                    exports: 'Backbone.Syphon'
                },
                relationalModel: {
                    deps: ['backbone'],
                    exports: 'Backbone.RelationalModel'
                },
                momentFr: {
                    deps: ['moment']
                }
            }
        });
        {% block requirejs_additional_config %}{% endblock%}
    }());

    {% block requirejs_initialize %}
        require([
            'main'
        ], function (app) {
            "use strict";
            app.vent.on('current_user_fetched', function() {
                spinner.stop();
            });
            app.start();
        });
    {% endblock %}

    {# Polyfill loading #}
    (function() {
        // Test for native support
        var test = document.createElement('input');
        try {
          test.type = 'range';
          if (test.type == 'range')
            return;
        } catch (e) {
          return;
        }

        // Test for required property support
        if (!document.mozSetImageElement || !('MozAppearance' in test.style)) {
          return;
        }

        require(['html5slider']);
    })();
    (function () {
        if ('placeholder' in document.createElement('input')) {
            return;
        }
        require(['placeholder'], function (Placeholders) {
            Placeholders.init({
                live: true
            });
        });
    })();

</script>
{% endblock %}
